@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-7rem);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(7rem);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bracket-left {
  animation: slideLeft 1.5s ease forwards;
  animation-delay: 0.5s;
}

.bracket-right {
  animation: slideRight 1.5s ease forwards;
  animation-delay: 0.5s;
}

.portfolio-text {
  opacity: 0;
  animation: fadeInText 1.5s ease forwards;
  animation-delay: 1s;
  pointer-events: none;
}
