:root {
  --color-bg: #3D5366;
  --color-heading: #000000;
  --color-text: #000000;
  --color-accent: #FDFBD4;
  --color-border: #000000;
  --color-primary: #FDFBD4;
  --color-secondary: #587792;
  
  --font-size-title: 80px;
  --font-size-subtitle: 36px;
  --font-size-base: 24px;
}