---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="my portfolio">
  <section class="space-y-6">
	<h1> helloo! </h1>
    <p class="text-lg">
		i’m a comp sci student with an interest in maths and technology. 
		if i'm not doing something useful, you’ll probably find me practising the violin or
		researching something i'm intereested in. i like to turn some of my ideas into 
		reality through technology. thanks for reading :)
    </p>
    <h2 class="text-2xl font-semibold lowercase" style="color: var(--color-heading);">skills</h2>
    <ul class="list-disc pl-5 space-y-2">
		<li>python</li>
		<li>swift (wip)</li>
		<li>html / css</li>
    </ul>
    <h2 class="text-2xl font-semibold lowercase" style="color: var(--color-heading);">social</h2>
    <ul class="flex space-x-4">
		<li>
			<a href="https://github.com/rohxn-o" class="social-link lowercase" target="_blank">
			  github
			</a>
		</li>
      <!-- Add more social links as needed -->
    </ul>
  </section>
</Layout>