---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="my portfolio">
  <section class="space-y-12">

    <h1 class="kaomoji-animation text-5xl font-bold text-[var(--color-heading)] drop-shadow-[0_0_15px_var(--color-accent)] animate-bounce transition-all duration-500">hi(„• ֊ •„)੭</h1>
    <p class="text-[var(--color-text)] text-lg max-w-2xl">
      welcoem 
    </p>

    <section>
      <h2 class="text-xl font-semibold text-[var(--color-heading)] mb-3">Currently</h2>
      <ul class="list-disc list-inside text-lg space-y-1">
        <li>Focusing on studies</li>
        <li>Trying to learn more</li>
      </ul>
    </section>

    <section>
      <h2 class="text-xl font-semibold text-[var(--color-heading)] mb-3">Skills</h2>
      <ul class="list-none flex gap-4 items-center">
        <li class="flex gap-2 items-center">
          <span class="si si-python text-lg"></span> Python
        </li>
        <li class="flex gap-2 items-center">
          <span class="si si-swift text-lg"></span> Swift (wip)
        </li>
      </ul>
    </section>

    <section>
      <h2 class="text-xl font-semibold text-[var(--color-heading)] mb-3">Contact</h2>
      <ul class="flex space-x-4">
        <li>
          <a href="https://github.com/setofr" class="social-link hover:text-[var(--color-accent)]" target="_blank">
            GitHub
          </a>
        </br>
          <a href="https://www.youtube.com/@setofR" class="social-link hover:text-[var(--color-accent)]" target="_blank">
            YouTube
          </a>
        </br>
          <a href="https://mastodon.social/@setofR" class="social-link hover:text-[var(--color-accent)]" target="_blank">
            Mastodon
          </a>
        </br>
          <a href="https://bsky.app/profile/setofr.bsky.social" class="social-link hover:text-[var(--color-accent)]" target="_blank">
            Bluesky
          </a>
        </li>
      </ul>
    </section>

  </section>
</Layout>