---
// src/pages/projects.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="Projects">
  <section class="space-y-6">
    <h2 class="text-2xl font-semibold text-blue-400">Projects</h2>
    <ul class="list-disc pl-5 space-y-2">
      <li>
        <a href="https://github.com/yourusername/project1" target="_blank" class="hover:text-pink-400">
          Project 1
        </a>
      </li>
      <li>
        <a href="https://github.com/yourusername/project2" target="_blank" class="hover:text-pink-400">
          Project 2
        </a>
      </li>
    </ul>
  </section>
</Layout>